@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  @apply bg-[#112B3C]
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

span{
  @apply text-xl h-12 flex items-center justify-center
      sm:w-72 w-full break-words 
      bg-[#205375] text-white rounded-md drop-shadow-box
}

span.conversion-text{
  @apply text-3xl
}